---
import socialStyles from "../../../styles/header/header.module.css"
---

<div class={socialStyles.socialMediaLinksContainer}>
    <a class={`${socialStyles.socialMediaIcon} ${socialStyles.instagram}`}>
        <img src="instagram.svg" />
    </a>
    <a class={`${socialStyles.socialMediaIcon} ${socialStyles.linkedin}`}>
        <img src="linkedin.svg" />
    </a>
    <a class={`${socialStyles.socialMediaIcon} ${socialStyles.tiktok}`}>
        <img src="tiktok.svg" />
    </a>
</div>