---
import navbarStyles from "../../../styles/header/navbar.module.css"
---

<ul class={navbarStyles.navbarLinksList}>
    <li><a href="/" class={navbarStyles.navbarLink}>Home</a></li>
    <li><a href="/contact" class={navbarStyles.navbarLink}>Contact</a></li>
    <li><a href="/portfolio" class={navbarStyles.navbarLink}>Portfolio</a></li>
    <li><a href="/services" class={navbarStyles.navbarLink}>Services</a></li>
    <li><a href="/pricing" class={navbarStyles.navbarLink}>Pricing</a></li>
</ul>